<div class="row">
    <div class="col-12">
        <h1 class="text-center title">Welcome!</h1>
    </div>
</div>

<div class="row">
    <div class="col m12">
        <h2>Your story:</h2>

        <div class="player">
        {{!-- {{#each playerName}} --}}
            <p>Your name is: {{playerName}}</p>
            <p>You've been sorted into: {{house}}</p>
            <p>Your character is: {{characterMatch}}</p>
            <p>Your favorite class is: {{class}}</p>
        {{!-- {{/each}} --}}
            <p>Random spell: <span id="api-spell"></span></p>
        </div>
    </div>
</div>

